*.~
*.a
*.cmd
*.d
*.gcda
*.gcno
*.kdev4
*.ko
*.log
*.o
*.pyc
*.so
*.so.*
*.swp
*.DS_Store
ut_coverage/
tags
cscope.out
dpdk-*
CUnit-Memory-Dump.xml
include/spdk/config.h
CONFIG.local
*VC.db
.vscode
.project
.cproject
.settings
mk/cc.mk
mk/config.mk
PYTHON_COMMAND
