[project]
	description = Storage Performance Development Kit - http://spdk.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SPDK Maintainers
[access "refs/for/refs/*"]
	read = group user/Daniel Verkamp (dverkamp-intel)
	push = group user/Daniel Verkamp (dverkamp-intel)
	label-Code-Review = -2..+2 group SPDK Reviewers
	label-Verified = -1..+1 group SPDK Maintainers
	rebase = group user/Daniel Verkamp (dverkamp-intel)
	removeReviewer = group user/Daniel Verkamp (dverkamp-intel)
	submit = group SPDK Maintainers
[access "refs/heads/*"]
	read = group user/Daniel Verkamp (dverkamp-intel)
	create = group SPDK Maintainers
	push = group SPDK Maintainers
[access "refs/tags/*"]
	push = group SPDK Maintainers
	push = +force group user/Daniel Verkamp (dverkamp-intel)
[receive]
	requireSignedOffBy = true
[submit]
	action = rebase if necessary
