[project]
	description = Storage Performance Development Kit - http://spdk.io
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Bots
	editAssignee = group SPDK Maintainers
	exclusiveGroupPermissions = editAssignee
[access "refs/for/refs/*"]
	read = group SPDK Maintainers
	push = group SPDK Maintainers
	label-Code-Review = -2..+2 group SPDK Maintainers
	label-Verified = -1..+1 group SPDK Maintainers
	rebase = group SPDK Maintainers
	removeReviewer = group SPDK Maintainers
	submit = group SPDK Maintainers
	editAssignee = group SPDK Maintainers
	exclusiveGroupPermissions = editAssignee
[access "refs/heads/*"]
	read = group SPDK Maintainers
	create = group SPDK Maintainers
	push = group SPDK Maintainers
[access "refs/tags/*"]
	push = +force group SPDK Maintainers
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	rejectImplicitMerges = true
[submit]
	action = rebase always
[access "refs/meta/dashboards/*"]
	push = group SPDK Maintainers
[access "refs/for/*"]
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group SPDK Maintainers
