vhost_0_reactor_mask="[0-31]"
vhost_0_main_core=0

VM_0_qemu_mask=1
VM_0_qemu_numa_node=0

VM_1_qemu_mask=2
VM_1_qemu_numa_node=0

VM_2_qemu_mask=3
VM_2_qemu_numa_node=0

VM_3_qemu_mask=4
VM_3_qemu_numa_node=0

VM_4_qemu_mask=5
VM_4_qemu_numa_node=0

VM_5_qemu_mask=6
VM_5_qemu_numa_node=0

VM_6_qemu_mask=7
VM_6_qemu_numa_node=0

VM_7_qemu_mask=8
VM_7_qemu_numa_node=0

VM_8_qemu_mask=9
VM_8_qemu_numa_node=0

VM_9_qemu_mask=10
VM_9_qemu_numa_node=0

VM_10_qemu_mask=11
VM_10_qemu_numa_node=0

VM_11_qemu_mask=12
VM_11_qemu_numa_node=0

VM_12_qemu_mask=13
VM_12_qemu_numa_node=1

VM_13_qemu_mask=14
VM_13_qemu_numa_node=1

VM_14_qemu_mask=15
VM_14_qemu_numa_node=1

VM_15_qemu_mask=16
VM_15_qemu_numa_node=1

VM_16_qemu_mask=17
VM_16_qemu_numa_node=1

VM_17_qemu_mask=18
VM_17_qemu_numa_node=1

VM_18_qemu_mask=19
VM_18_qemu_numa_node=1

VM_19_qemu_mask=20
VM_19_qemu_numa_node=1

VM_20_qemu_mask=21
VM_20_qemu_numa_node=1

VM_21_qemu_mask=22
VM_21_qemu_numa_node=1

VM_22_qemu_mask=23
VM_22_qemu_numa_node=1

VM_23_qemu_mask=24
VM_23_qemu_numa_node=1
