vhost_0_reactor_mask=0xfffffffff
vhost_0_master_core=0

VM_0_qemu_mask=0x2
VM_0_qemu_numa_node=0

VM_1_qemu_mask=0x4
VM_1_qemu_numa_node=0

VM_2_qemu_mask=0x8
VM_2_qemu_numa_node=0

VM_3_qemu_mask=0x10
VM_3_qemu_numa_node=0

VM_4_qemu_mask=0x20
VM_4_qemu_numa_node=0

VM_5_qemu_mask=0x40
VM_5_qemu_numa_node=0

VM_6_qemu_mask=0x80
VM_6_qemu_numa_node=0

VM_7_qemu_mask=0x100
VM_7_qemu_numa_node=0

VM_8_qemu_mask=0x200
VM_8_qemu_numa_node=0

VM_9_qemu_mask=0x400
VM_9_qemu_numa_node=0

VM_10_qemu_mask=0x800
VM_10_qemu_numa_node=0

VM_11_qemu_mask=0x1000
VM_11_qemu_numa_node=0

VM_12_qemu_mask=0x40000
VM_12_qemu_numa_node=1

VM_13_qemu_mask=0x80000
VM_13_qemu_numa_node=1

VM_14_qemu_mask=0x100000
VM_14_qemu_numa_node=1

VM_15_qemu_mask=0x200000
VM_15_qemu_numa_node=1

VM_16_qemu_mask=0x400000
VM_16_qemu_numa_node=1

VM_17_qemu_mask=0x800000
VM_17_qemu_numa_node=1

VM_18_qemu_mask=0x1000000
VM_18_qemu_numa_node=1

VM_19_qemu_mask=0x2000000
VM_19_qemu_numa_node=1

VM_20_qemu_mask=0x4000000
VM_20_qemu_numa_node=1

VM_21_qemu_mask=0x8000000
VM_21_qemu_numa_node=1

VM_22_qemu_mask=0x10000000
VM_22_qemu_numa_node=1

VM_23_qemu_mask=0x20000000
VM_23_qemu_numa_node=1
