vhost_0_reactor_mask=0x1
vhost_0_master_core=0

VM_0_qemu_mask=0x6
VM_0_qemu_numa_node=0

VM_1_qemu_mask=0x18
VM_1_qemu_numa_node=0

VM_2_qemu_mask=0x60
VM_2_qemu_numa_node=0

VM_3_qemu_mask=0x180
VM_3_qemu_numa_node=0

VM_4_qemu_mask=0x600
VM_4_qemu_numa_node=0

VM_5_qemu_mask=0x1800
VM_5_qemu_numa_node=0

VM_6_qemu_mask=0x1800000
VM_6_qemu_numa_node=1

VM_7_qemu_mask=0x6000000
VM_7_qemu_numa_node=1

VM_8_qemu_mask=0x18000000
VM_8_qemu_numa_node=1

VM_9_qemu_mask=0x60000000
VM_9_qemu_numa_node=1

VM_10_qemu_mask=0x180000000
VM_10_qemu_numa_node=1

VM_11_qemu_mask=0x600000000
VM_11_qemu_numa_node=1
