vhost_0_reactor_mask="[0]"
vhost_0_main_core=0

VM_0_qemu_mask=1-2
VM_0_qemu_numa_node=0

VM_1_qemu_mask=3-4
VM_1_qemu_numa_node=0

VM_2_qemu_mask=5-6
VM_2_qemu_numa_node=0

VM_3_qemu_mask=7-8
VM_3_qemu_numa_node=0

VM_4_qemu_mask=9-10
VM_4_qemu_numa_node=0

VM_5_qemu_mask=11-12
VM_5_qemu_numa_node=0

VM_6_qemu_mask=13-14
VM_6_qemu_numa_node=1

VM_7_qemu_mask=15-16
VM_7_qemu_numa_node=1

VM_8_qemu_mask=17-18
VM_8_qemu_numa_node=1

VM_9_qemu_mask=19-20
VM_9_qemu_numa_node=1

VM_10_qemu_mask=21-22
VM_10_qemu_numa_node=1

VM_11_qemu_mask=23-24
VM_11_qemu_numa_node=1
